# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Webpack
.cache/

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
.DS_Store
Thumbs.db